
/* Cyberpunk Social Media Dashboard Section */
#dashboard-section {
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    padding: 20px;
    height: 100vh; /* Section takes full viewport height */
    /* Set the background image */
    background-image: url('https://r4.wallpaperflare.com/wallpaper/553/87/605/music-stars-planet-space-wallpaper-b8e68da870004ce8208c61ae1812245a.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center; /* Optional: center child elements horizontally */
    justify-content: center; /* Optional: center child elements vertically */
}

/* Ensure child components don't stretch */
#dashboard-section > * {
    flex: 0 0 auto; /* Prevents child elements from stretching */
}
th{
    color: aliceblue;
}
#titel  {

    font-size: 90px;
    font-weight: 600;
    font-family: 'Niconne', cursive;
    color: #e0d6e9;
    text-shadow: 2px 2px 0px  #957dad,
                 4px 4px 0px #ee4b2b,
                 6px 6px 0px #00c2cb,
                 8px 8px 0px #ff7f50,
                 10px 10px 0px #553c9a;
  }
  h1#titel {
    place-self: center;
}
h2#titel {
    font-size: 90px;
    font-weight: 600;
    font-family: 'Niconne', cursive;
    color: #e0d6e9;
    text-shadow: 2px 2px 0px  #957dad,
                 4px 4px 0px #ee4b2b,
                 6px 6px 0px #00c2cb,
                 8px 8px 0px #ff7f50,
                 10px 10px 0px #553c9a;
}